@page

<h4 style="color: #B4886B;"> WELCOME TO CHAT: </h4>

<style>

    h4 {
        text-align: center;
        font-size: 40px;
    }
</style>
<div class="container">
    <div class="row p-1">
        <div class="col-1">User</div>
        <div class="col-5"><input name="user" type="text" id="userInput" /></div>
    </div>
    <div class="row p-1">
        <div class="col-1">Message</div>
        <div class="col-5"><input type="text" name="message" class="w-100" id="messageInput" /></div>
    </div>
    <div class="row p-1">
        <div class="col-6 text-end">
            <input type="button" href="#" class="btn" id="sendButton" value="Send" />
        </div>
    </div>
    
    <div class="row p-1">
        <div class="col-6">
            <hr />
        </div>
    </div>
    <div class="row p-1">
        <div class="col-6">
            <ul id="messagesList"></ul>
        </div>
    </div>
</div>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>

<style>



    body {
        margin: 0;
        padding: 0;
        font-size: 100%;
        background-image: url("/images/doggy.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }

</style>

<style>

    input[type=text] {
        border: 2px solid #aaa;
        border-radius: 4px;
        margin: 4px 0;
        outline: none;
        padding: 4px;
        transition: .3s;
    }

        input[type=text]:focus {
            border-color: #6E2C00;
            box-shadow: 0 0 8px 0 #6E2C00;
        }

</style>

<style>
    div {
        color: #B4886B;
        font-weight: bold;
    }
    </style>

<style>

    


    .btn {
        font-family: "Roboto", sans-serif;
        font-size: 10px;
        font-weight: bold;
        background: #6E2C00;
        width: 80px;
        padding: 10px;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        color: #fff;
        border-radius: 5px;
        cursor: pointer;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        -webkit-transition-duration: 0.3s;
        -o-transition-duration: 0.3s;
        -webkit-transition-property: box-shadow, transform;
        transition-property: box-shadow, transform;
    }

    .btn:hover, .btn:focus, .btn:active {
        box-shadow: 0 0 20px rgba(0,0,0, 0.5);
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
    
</style>