@model ApplicationForMissingAnimals.ViewModels.AnimalViewModel

@{
    ViewData["Title"] = "New";
}

<div class="col-md-10 mx-auto py-4">
    <div class="card">
        <div style="color:#FFE5B4" class="card-header  text-uppercase text-white">
            <style>
                div {
                    color: #B4886B;
                    
                }
                 h4

                {
                    color: #B4886B;
                    
                    
                }
            </style>
            <h4>Add New </h4>
        </div>
        <div  class="card-body">
            <form enctype="multipart/form-data" asp-action="New">
                <div class="row">
                    <div class="col-md-6">
                        <div  class="form-group">
                            <label asp-for="Microchip" class="control-label"></label>
                            <input asp-for="Microchip" class="form-control"/>
                            <span asp-validation-for="Microchip" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Content" class="control-label"></label>
                            <input asp-for="Content" class="form-control" />
                            <span asp-validation-for="Content" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Title" class="control-label"></label>
                            <select asp-for="Title" class="form-control">
                                <option value="">Choose Category:</option>
                                <option value="Found">Found</option>
                                <option value="Lost">Lost</option>
                            </select>
                            <span asp-validation-for="Title" class="text-danger"></span>
                        </div>
                    </div>
                 
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="City" class="control-label"></label>
                                <input asp-for="City" class="form-control" />
                                <span asp-validation-for="City" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Street" class="control-label"></label>
                                <input asp-for="Street" class="form-control" />
                                <span asp-validation-for="Street" class="text-danger"></span>
                            </div>
                        </div>
                    




                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Information" class="control-label"></label>
                                <input asp-for="Information" class="form-control" />
                                <span asp-validation-for="Information" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Type" class="control-label"></label>
                                <select asp-for="Type" class="form-control">
                                    <option value="">Choose type:</option>
                                    <option value="Notgiven">Not Given</option>
                                    <option value="Mammals">Mammals</option>
                                    <option value="Birds">Birds</option>
                                    <option value="Reptiles">Reptiles</option>
                                    <option value="Amphibians">Amphibians</option>
                                    <option value="Insects">Insects</option>
                                </select>
                                <span asp-validation-for="Title" class="text-danger"></span>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Name" class="control-label"></label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Age" class="control-label"></label>
                            <input asp-for="Age" class="form-control" />
                            <span asp-validation-for="Age" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Description" class="control-label"></label>
                            <input asp-for="Description" class="form-control" />
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Color" class="control-label"></label>
                            <input asp-for="Color" class="form-control" />
                            <span asp-validation-for="Color" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">                  
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="ProfileImage" class="control-label"></label>
                            <div class="custom-file">
                                <input asp-for="ProfileImage" class="custom-file-input" id="customFile">
                                <label class="custom-file-label" for="customFile">Choose file</label>
                            </div>
                            <span asp-validation-for="ProfileImage" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <br />
                <br />
                <div class="form-group">
                    <input type="submit" value="submit" class="btn btn-sm btn-primary rounded-0 text-uppercase" />
                    <a asp-action="Index1" class="btn btn-sm btn-primary rounded-0 text-uppercase">
                        <i class="fas fa-fast-backward"></i> Back to List</a>
                </div>
            </form>
        </div>
    </div>
</div>

<style>



    body {
        margin: 0;
        padding: 0;
        font-size: 100%;
        background-image: url("/images/new.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }

</style>




@section scripts{
    <script type="text/javascript">

        // Add the following code if you want the name of the file appear on select
        $(".custom-file-input").on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });
    </script>
}  